<header class="w3-container w3-teal">
    <nav>
        <!-- <ul class="main-header__item-list"> -->
        <h1><a class="<%= path === '/' ? 'active' : '' %>" href="/">SHOP</a></h1>
    </nav>
</header>
</header>